    <h1>{{name}}</h1>
    <p><strong>Email: </strong> {{email}}</p>
    <p><strong>Address: </strong> {{address.street}} {{address.neighborhood}} {{address.city}} </p>
    <button (click)="toggleLanguajes()">{{showLanguages?'Hidden Languages': 'Show Languages' }}</button>
    <div *ngIf="showLanguages">
      <h3>languages:</h3>
        {{languages}}
      <ul>
        <li *ngFor="let language of languages; let i = index">
          {{language}} <button (click)="deleteLanguage(i)">x</button>
        </li>
      </ul>
      <form (submit)="addlanguage(language.value)">
        <label>Add language:</label><br/>
        <input type="text" #language /><br/>
      </form>
    </div>
    <hr>
    <h3>Edit User</h3>
    <form>
      <label>Name:</label><br/>
      <input type="text" name="name" [(ngModel)]="name" /><br/>
      <label>Email:</label><br/>
      <input type="text" name="email" [(ngModel)]="email" /><br/>
      <label>Address:</label><br/>
      <input type="text" name="address.street" [(ngModel)]="address.street" /><br/>
      <label>Neighborhood:</label><br/>
      <input type="text" name="address.neighborhood" [(ngModel)]="address.neighborhood" /><br/>
      <label>City:</label><br/>
      <input type="text" name="address.city" [(ngModel)]="address.city" /><br/>
    </form>
    <hr>
    <h3>Post</h3>
    <div *ngFor="let post of posts">
      {{post.userId}}
      {{post.id}}
      {{post.title}}
      {{post.body}}
    </div>